{% extends 'base.html' %}
{% load myTag %}
{% block content %}

    <div class="">


        <div class="jumbotron ">
            <h1 class="display-4">{{ course_module.m_id.name }}</h1>
            {% if request.session.role == "teacher" %}
                <button type="button" class="btn btn-success" id="open_camera">open camera</button>
            {% endif %}

        </div>
        {% if course_module.m_id.name != "no course at this time" %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">student ID</th>
                    <th scope="col">name</th>
                    <th scope="col">arrival time</th>
                </tr>
                </thead>
                <tbody>
                {% userList user_list attendance_record %}


                </tbody>
            </table>
        {% endif %}
    </div>

    <script>


        // 请求服务器，返回JSON

        $(document).ready(function () {
            $("#open_camera").click(function () {

                var request = $.ajax({
                    url: "{% url 'open_camera' %}",
                    method: "POST",
                    data: {},

                });

                request.done(function (msg) {
                    console.log("ok")
                });

                request.fail(function (jqXHR, textStatus) {
                    console.log(textStatus)
                });
            });
        });
    </script>
{% endblock %}